.design {
    -background: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 10px;
    display: flex;
    margin: auto;
    background-color: #222428;
}

#font {
    color: rgb(235, 69, 105);
    text-align: left;
}

.tech-text {
    font-size: 10px;
    color: aliceblue
}

.tech {
    font-size: large;
    color: rgb(235, 69, 105);
    font-weight: 500;
    font-size: 13px;
}

.tech-btn {
    margin: auto;
    margin-right: 20px;
    font-size: 4px;
    height: 10px;
    display: flex;
    width: 70px;
}

.card-cls {
    -background: transparent !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 20px;
    display: flex;
    margin: auto;
    background-color: #26282b;
    margin-left: 20px;
}

#cr {
    margin-top: 18px;
    text-align: left;
    font-size: 15px;
    margin-left: 20px;
}

.ion-content {
    --background: rgb(253, 207, 207);
    color: black;
    height: 69vh !important;
}

#article {
    color: rgb(235, 69, 105);
    font-size: 25px;
    justify-content: center;
    display: flex;
    margin: auto;
    margin-top: 50px;
}

#bar {
    margin: auto;
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
}

#logout {
    margin: auto;
    display: flex;
    margin-right: 20px;
}

.tab-color {
    font-size: 12px;
    margin: auto;
    color: rgb(235, 69, 105);
    position: relative;

}

.design-text {
    position: absolute;
    top: 10px;
    color: aliceblue;
    display: flex;

}