
#btn {
    margin-top: 370px;
}

#btn1 {
    margin-top: 30px;

}
#txt {
   color:black;
   font-size: 25px;
   margin-top: 70px;
   margin-left: 6px;
}

#txt1 {
    color:rgb(197, 99, 99);
    font-size: 25px;
    text-align: center;
    margin-top: 30px;;
 }
