
.profile-page {
  --background: #3c4368;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.profile-heading {
  flex: 10;
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
  display: flex;
  align-items: center;
  color: #fff;
  height: auto;
}

.profile-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  gap: 7px;
  padding-bottom: 20%;
}

.pro-pic-container {
  --background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin: 3rem 3rem;
  width: auto;
  height: auto;
  border-radius: 20px;
}

.pro-pic {
  max-width: 100%;
  height: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 1rem;
}

.edit-icon {
  display: flex;
  height: 20px;
  width: 20px;
  margin-left:10px;
}

.flex-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 60px;
  background: rgba(218, 233, 244, 0.5);
  border-radius: 20px;
  margin: 0 10px;
  margin-bottom: 12px;
}

.col1 {
  display: flex;
  flex-direction: column;
  flex: 4;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  margin-left: 20px;
  gap: 5px;
}

.col2 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.flex-row-label {
  font-family: "Quicksand";
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.flex-row-value {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 7px;
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  color: #606460;
}

.Profile-name {
  font-family: "Quicksand";
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  width: 200px;
}

.update-row{
    display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 1rem;
}

.update-icon{
    margin-top: 5px;
    margin-right: 5px;
}
.update-input{
    color: black;
    border: 1px solid #333333b1;
    border-radius: 8px;
    margin-right: 10px;
}
